@using OrderTracker.Models;
@{
  Layout="_Layout";
}


<div class="container">
<div class="links">
  <h4 class="inline-link"><a href="/" class="no-decor">Back to Home</a></h4>
  <h4 class="inline-link"><a href="/vendor/new" class="no-decor">Add New Vendor</a></h4>
</div>
<div class="container" id="page-center">
  <div id="box">
  @if(Model.Count == 0)
  {
    <h1 id="page-center">You have no vendors.</h1>
  }
  else
  {
    <h1>Your vendors:</h1>
    <ul>
      @foreach(Vendor vendor in Model)
      {
        <li><a href="/vendor/@vendor.Id">@vendor.Name</a></li>
      }
    </ul>
  }

  </div>
</div>