@using OrderTracker.Models
@{
  Layout="_Layout";
}
<div class="links">
  <h4 class="inline-link"><a href="/" class="no-decor">Back to Home</a></h4>
  <h4 class="inline-link"><a href="/vendor" class="no-decor">Back to Vendors</a></h4>
</div>
<div class="container" id="page-center">
  <div id="box">
    <h4>New Vendor</h4>
    <form method="post" action="/">
      <div class="form-group">
        <label for="name">Vendor Name:</label>
        <input type="text" name="name" id="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="description">Vendor Description:</label>
        <input type="text" name="description" id="description" class="form-control">
      </div>
      <button class="btn btn-dark full" type="submit">Add Vendor</button>
    </form>
  </div>
</div>

