@{
  Layout = "_Layout";
}
<div class="container" id="page-center">
  <h2 class="center-text">Hello and welcome to your vendor and order tracker, Pierre!</h2>
  <div class="links">
    <h3 class="inline-link"><a href="/vendor" class="no-decor">Vendor Orders</a></h3>
    <h3 class="inline-link"><a href="/vendor/new" class="no-decor">Add New Vendor</a></h3>
  </div>
  
</div>

