@{
  Layout = "_Layout";
}
<div class="container" id="page-center">
  <h1 class="center-text">Hellow to Your Vendor and Order Tracker, Pierre!</h1>
  <div class="links">
    <h3 class="inline-link"><a href="/vendor" class="no-decor">Vendor Orders</a></h3>
    <h3 class="inline-link"><a href="/vendor/new" class="no-decor">Add New Vendor</a></h3>
  </div>
  
</div>

