@using OrderTracker.Models
@{
  Layout="_Layout";
}
<div class="links">
  <h4 class="inline-link"><a href="/" class="no-decor">Back to Home</a></h4>
  <h4 class="inline-link"><a href="/vendor/@Model.Id" class="no-decor">Back to @Model.Name</a></h4>
  <h4 class="inline-link"><a href="/vendor" class="no-decor">Back to All Vendors</a></h4>
</div>
<div class="container" id="page-center">
  <div id="box">
    <h4>New Order for @Model.Name</h4>
    <form method="post" action="/vendor/@Model.Id/order">
    <input type="hidden" name="vendorId" id="vendorId" value="@Model.Id">
      <div class="form-group">
        <label for="title">Order Title:</label>
        <input type="text" name="title" id="title" class="form-control">
      </div>
      <div class="form-group">
        <label for="description">Order Description:</label>
        <input type="field" name="description" id="description" class="form-control">
      </div>
      <div class="form-group">
        <label for="price">Order Price:</label>
        <input type="number" name="price" id="price" class="form-control">
      </div>
      <div class="form-group">
        <label for="date">Order Date:</label>
        <input type="text" name="date" id="date" class="form-control" placeholder="Format: MM/DD/YYYY">
      </div>
      <button class="btn btn-dark full" type="submit">Add Vendor</button>
    </form>
  </div>
</div>